# Visual Studio.vs/*.suo*.user*.userosscache*.sln.docstates*.sln.ideTradeTerminal.Application/obj/Debug/net9.0/TradeTerminal.Application.sourcelink.jsonTradeTerminal.DataAccess/obj/Debug/net9.0/TradeTerminal.DataAccess.sourcelink.jsonTradeTerminal.WebApi/obj/Debug/net9.0/TradeTerminal.WebApi.sourcelink.json# Build outputbin/obj/out/publish/# User settingsProperties/Settings.Designer.cs*.local.jsonappsettings.Development.json# Database*.mdf*.ldf*.db*.sqlite# Logslogs/*.log# OSThumbs.db.DS_Storedesktop.ini# Temp*.tmp*.temp